<form name='{{_name}}' method='{{_method}}' action='{{_action}}' class='{{_layout}}'>
    <div class='row'>
        <div class='col-sm-6'>
            {{user_name}}
        </div>
        <div class='col-sm-6'>
            {{title}}
        </div>            
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{email}}
        </div>
        <div class='col-sm-6'>
            {{password}}
        </div>            
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{bunnies}}
        </div>
        <div class='col-sm-6'>
            {{bio}}
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{beard}}
        </div>
        <div class='col-sm-6'>
            {{wakeup}}
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-6'>
            {{school}}
        </div>
        <div class='col-sm-6'>
            {{tos}} {{special_offers}}
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12 col-sm-6 hideable'>
            {{btn_submit}}
        </div>
        <div class='col-xs-12 col-sm-3 hideable'>
            {{btn_poison}}
        </div>
        <div class='col-xs-12 col-sm-3 hideable'>
            {{btn_cancel}}
        </div>
    </div>
</form>
